body {
    overflow-y: scroll;
}

img.flag {
    height: 13px;
    vertical-align: baseline;
    margin-right: 5px;
}

img.buy-at-amazon{
    height: 17px;
    margin-right: 5px;
}

a[data-toggle="dropdown"] {
    cursor: pointer;
}

div.social-container {
    height: 24px;
}

a.card{
    color: #212529;
}
a.card img.card-img-top{
    width: 100%;
    object-fit: cover; /*magic*/
}
