{{define "header"}}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="can,i,have,one,canihave,canihaveone,canihave.one">

    <title>Canihave.one</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/canihave.css">

    <meta property="og:url" content="https://canihave.one/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Canihave.one"/>
    <meta property="og:description" content="Your description"/>
    <meta property="og:image" content="http://www.your-domain.com/path/image.jpg"/>

</head>

<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Canihave.one</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Sort By</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/?sort=x">x</a>
                        <a class="dropdown-item" href="/?sort=y">y</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-nav mr-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/info">Info</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img class="flag" src="/assets/flags/{{.Flag}}.gif" alt="{{.Flag}}">{{.Flag}}
                    </a>
                    <div class="dropdown-menu">
                        {{ range $key, $val := .Flags }}
                        <a class="dropdown-item" href="{{$.Path}}?flag={{$key}}">
                            <img class="flag" src="/assets/flags/{{$key}}.gif" alt="{{$val}}">{{$val}}
                        </a>
                        {{ end }}
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="/">
                {{if (avail "Category" .)}}
                <input type="hidden" name="cat" value="{{.Category}}">
                {{end}}
                {{if (avail "Search" .)}}
                <input class="form-control mr-sm-2" placeholder="Search" name="search" value="{{.Search}}" required>
                {{else}}
                <input class="form-control mr-sm-2" placeholder="Search" name="search" required>
                {{end}}
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>

        </div>

    </div>
</nav>

<div class="container">

    {{end}}