{{define "info"}} {{ template "header" .}}

<h1 class="mb-4">Info</h1>

<h3>Social Media</h3>
<p>Facebook: <a href="https://www.facebook.com/pleasecanihaveone">https://www.facebook.com/pleasecanihaveone</a></p>
<p>Twitter: <a href="https://twitter.com/Canihave_one">https://twitter.com/Canihave_one</a></p>

<h3>Smile</h3>
<p>
    All items purchased in the US will use Amazon Smile, which will give 0.5% of the purchase price to a characity of
    your choice.<br/>
    Read more about Amazon Smile <a href="http://smile.amazon.com/about">here</a>.
</p>

{{ template "footer" }} {{end}}