{{define "search"}} {{ template "header" .}}

<div class="jumbotron pt-4 pb-4">
  <h1 class="display-3">Canihave.one</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Library</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol>
Page: {{.Page}}
<div class="row" data-page="1" id="results">
  {{range .Items}} {{ template "card" .}} {{ end }}
</div>

<div class="progress mb-4" id="loading" style="display: none;">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%"></div>
</div>

{{ template "footer" }} {{end}}