{{define "search"}} {{ template "header" .}}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="jumbotron pt-4 pb-4">
    <h1 class="display-3">Canihave.one</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>

    <div class="social-container">
        <div class="fb-like" data-href="https://canihave.one" data-layout="standard" data-action="like"
             data-size="small" data-show-faces="true" data-share="true">
        </div>
    </div>
    <div class="social-container">
        <a href="https://twitter.com/Canihave_one" class="twitter-follow-button" data-show-count="false">
            Follow @Canihave_one
        </a>
    </div>

</div>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active">Data</li>
</ol>

{{if .Items}}

<div class="row" data-page="1" id="results" data-last="0" data-search="{{.Search64}}">
    {{ range .Items }}

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a class="card" href="{{.GetLink}}" target="_blank">
            <img class="card-img-top" src="{{.Photo}}" alt="{{ .Name }}">
            <div class="card-body">
                <h6 class="card-title">{{ .Name }}</h6>

                {{if .Price }}
                <p class="card-text">Price: {{.Price }}-{{.GetPrice}}</p>
                {{end}}

                <span class="btn btn-primary">More info!</span>
            </div>
        </a>
    </div>

    {{ end }}
</div>

{{else}} NO ITEMS {{end}}

<nav>
    <ul class="pagination pagination-lg justify-content-center mb-5">

        {{if gt .Page 1}}
        <li class="page-item">
            <a class="page-link" href="/?page={{dec .Page}}">Previous</a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {{end}}

        <li class="page-item">
            <a class="page-link" href="/?page=1">1</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/?page={{inc .Page}}">Next</a>
        </li>
    </ul>
</nav>

{{ template "footer" .}} {{end}}
